.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list li a {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 1.4rem;
  color: rgb(172, 176, 198);
  text-decoration: none;
}

.contact-list li a:hover {
  color: rgb(151, 159, 203);
}

.contact-list li img {
  width: 36px;
  height: 36px;
  mix-blend-mode: screen;
  filter: invert(1);
}